:root{
    --header-color: #00303f;
    --background-color: #96a4c1;
    --color-1: #e95f4a;
    --color-2: #c3d2e5;
    --color-3: #7d6f86;
  }
  #create h1 {
    margin: 0;
    padding: 10px; 
 }

#create .flex{
    display: flex;
    justify-content: center;
}

#create .center {
    width: 100%;
}

#create .center label{
    position: relative;
    right: 60px;
}

#create .center2 {
    width: 100%; 
    text-align: center;
}
#create .btn2{
    height: 40px;
    width: 130px;
}

#create .submit{
    
}
