:root{
    --header-color: #00303f;
    --background-color: #96a4c1;
    --color-1: #f3a195;
    --color-2: #c3d2e5;
    --color-3: #7d6f86;
    --color-4: #e95f4a;
  }

#header img{
    max-height: 175px; 
    max-width: 250px;
    padding-bottom: 15px;
}
#header {
    width: 100%;
    text-align: center;
    background-color: var(--header-color);
}
#header h1{
    margin-top: 0px;
    margin-bottom: 8px;
    padding-top: 20px;
}